// colors
$primary-default:#3949AB;
$primary-disabled: #AFAFAF;
$primary-hover:#000000;
$primary-focus: #000000;

// breakpoints
$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px);