@import '../../styles/variables';
@import '../webfonts';

.button {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 0em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.button--primary {
  color: white;
  background-color: $primary-default;

  &:hover {
    background-color: $primary-hover;
    text-decoration: underline;
  }

  &:focus {
    background-color: $primary-focus;
  }
}

.button--secondary {
  color: black;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 1) 0px 0px 0px 1px inset;
  font-weight: 700;
  &:hover {
    text-decoration: underline;
  }
}

.button--small {
  font-size: 12px;
  padding: 10px 16px;
}

.button--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.button--large {
  font-size: 16px;
  padding: 12px 24px;
}
